:root {
    --color-light: #FFFFFF;
    --color-light--hover: #f6f6f6;
    --color-red: #BE1622;
    --color-red--hover: #be1621d1;
    --color-dark: #374151;
    --color-black: #000000;
    --color-block-bg: #F8EEE1;
    --color-desc-bg: #F5F5F5;
    --color-body: #1A0F0F;
    --color-foto-block-btn-bg:#ffffff00;
    --color-foto-block-btn-b--hover:#ffffff27;
    --color-input-select:#00000066;
    --trust-carousel-bg:#F9F9F9;
    --wood-line--hover:#e3e3e3;
}