.al-production {
    &__inner {
        display: grid;
        gap: 38px;
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        width: 520px;
        height: 365px;
        background-color: var(--color-block-bg);
        border-radius: 10px;
        padding: 31px 38px;
    }

    &__text {
        padding-top: 10px;
        height: auto;
    }

    &__title h2 {
        margin-bottom: 38px;
    }

    &__title p {
        margin-bottom: 0;
    }

    &__item-title h3 {
        margin-right: 11px;
    }

    &__desc {
        display: flex;
        align-items: center;
        background-color: var(--color-red);
        border-radius: 10px;
        color: var(--color-light);
        padding: 22px 36px;
    }

    &__item h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &__item p {
        margin: 0;
    }

    &__btn--white {
        height: 52px;
        border-radius: 10px;
        font-family: 'Avenir Next Cyr Bold';
        font-size: 19px;
        line-height: 1;
        color: var(--color-red);
        background-color: var(--color-light);
        cursor: pointer;
        padding: 18px 29px;
        border: none;
        flex-shrink: 0;
    }

    &__btn--white:hover {
        background-color: var(--color-light--hover);
    }

    &__item-content {
        overflow: visible;
        max-height: 0;
        transition: 0.2s;
    }

    &__desc p {
        margin-right: 70px;
    }
}

@media(max-width:1199px) {
    .al-production {
        &__inner {
            gap: calc(38 / 12 * 1vw);
        }

        &__items {
            gap: calc(20 / 12 * 1vw);
        }

        &__item {
            width: calc(520 / 12 * 1vw);
            height: calc(365 / 12 * 1vw);
            border-radius: calc(10 / 12 * 1vw);
            padding-top: calc(31 / 12 * 1vw);
            padding-right: calc(38 / 12 * 1vw);
            padding-bottom: calc(31 / 12 * 1vw);
            padding-left: calc(38 / 12 * 1vw);
        }

        &__text {
            padding-top: calc(10 / 12 * 1vw);
        }

        &__title h2 {
            margin-bottom: calc(38 / 12 * 1vw);
            font-size: calc(42 / 12 * 1vw);
        }

        &__title p {
            font-size: calc(20 / 12 * 1vw);
        }

        &__item-title h3 {
            font-size: calc(20/ 12 * 1vw);
            margin-right: calc(11/ 12 * 1vw);
        }

        &__text {
            font-size: calc(20/ 12 * 1vw);
        }

        &__desc {
            border-radius: calc(10 / 12 * 1vw);
            padding-top: calc(22 / 12 * 1vw);
            padding-right: calc(36 / 12 * 1vw);
            padding-bottom: calc(22 / 12 * 1vw);
            padding-left: calc(36 / 12 * 1vw);
        }

        &__desc p {
            font-size: calc(20 / 12 * 1vw);
            margin-right: calc(70 / 12 * 1vw);
        }

        &__btn--white {
            height: calc(52 / 12 * 1vw);
            border-radius: calc(10 / 12 * 1vw);
            font-size: calc(19 / 12 * 1vw);
            padding-top: calc(18 / 12 * 1vw);
            padding-right: calc(29 / 12 * 1vw);
            padding-bottom: calc(18 / 12 * 1vw);
            padding-left: calc(29 / 12 * 1vw);
        }
    }

}

@media(min-width:768px) {
    .al-production__item {
        pointer-events: none;
    }
}

@media(max-width:767px) {
    .al-production {
        &__inner {
            gap: 20px;
        }

        &__items {
            gap: 10px
        }

        &__item {
            display: flex;
            width: 280px;
            padding: 15px;
            justify-content: space-between;
            cursor: pointer;
            height: auto;
        }

        &__title {
            width: 280px;
        }

        &__title h2 {
            margin-bottom: 20px;
            font-size: 28px;
        }

        &__title p {
            font-size: 12px;
        }

        &__text {
            font-size: 12px;
        }

        &__item-title h3 {
            font-size: 18px;
        }

        &__btn--white {
            width: 250px;
            height: 52px;
            font-size: 18px;
        }

        &__desc {
            flex-direction: column;
            padding: 15px;
        }

        &__desc p {
            margin-top: 0;
            font-size: 12px;

            margin-right: 0;
            margin-bottom: 15px;
        }

        &__plus {
            display: flex;
            align-items: center;
        }

        &__plus-img {
            align-items: center;
            max-width: 27px;
            transition: transform 0.2s ease;
        }

        .al-br {
            display: none;
        }

        &__item-title {
            margin-right: 11px;
        }
    }

}