.al-promo {
    display: flex;
    justify-content: space-between;
    column-gap: 42px;

    &__inner {
        display: flex;
        justify-content: space-between;
        column-gap: 42px;
    }

    &__content {
        width: 616px;
        display: flex;
        flex-direction: column;
    }

    &__content-text {
        width: 574px;

        & p:first-child {
            margin-top: 0;
            margin-bottom: 20px;
        }

        & p:last-child {
            margin-top: 12px;
            margin-bottom: 20px;
        }
    }

    &__img--small {
        display: none;
        object-fit: cover;
        width: 280px;
        height: 154px;
        border-radius: 6px;
        margin-bottom: 20px;
    }

    &__img--large {
        max-width: 402px;
        aspect-ratio: 402 / 441;
        width: 100%;
        border-radius: 14px;
    }

    &__btns {
        margin-top: 46px;
        display: flex;
        gap: 14px;
    }

    &__button {
        border: none;
    }

    &__button-link {
        border: 1px solid var(--color-red);
    }

    .button--red {
        color: var(--color-light);
        background-color: var(--color-red);

        &:hover {
            background-color: var(--color-red--hover);
        }
    }

    .button--white {
        color: var(--color-red);
        background-color: var(--color-light);

        &:hover {
            background-color: var(--color-light--hover);
        }
    }
}

@media (max-width: 1199px) {
    h1 {
        font-size: getCalc(50);
        margin-bottom: getCalc(46);
    }

    .al-promo {
        &__content {
            width: getCalc(616);
        }

        &__img--large {
            width: getCalc(402);
            height: getCalc(441);

        }

        &__btns {
            margin-top: getCalc(46);
            gap: getCalc(14);
        }

        .button {
            width: getCalc(244);
            height: getCalc(53);
            border-radius: getCalc(10);
            font-size: getCalc(19);
        }

        &__content-text {
            width: getCalc(574);
            font-size: getCalc(20);
        }

        &__content-text p:last-child {
            margin-top: getCalc(12);
            margin-bottom: getCalc(20);
        }
    }
}

@media(max-width:767px) {
    h1 {
        font-size: 34px;
        margin-bottom: 20px;
    }

    .al-promo {
        &__content {
            width: 280px;
        }

        &__inner {
            flex-direction: column;
        }

        &__img--large {
            display: none;
        }

        &__img--small {
            display: block;
        }

        &__content-text {
            width: auto;
            font-size: 12px;

            & p:first-child {
                margin-bottom: 0px;
            }

            & p:last-child {
                margin-top: 6px;
                margin-bottom: 20px;
            }
        }

        &__btns {
            flex-direction: column;
            gap: 6px;
            margin-top: 0;
        }

        .button {
            width: 280px;
            height: 52px;
            border-radius: 6px;
            font-size: 18px;
        }
    }
}