input,
select {
    background-color: var(--color-desc-bg);
    color: var(--color-input-select);
    width: 449px;
    height: 48px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0;
    border-radius: 10px;
    border: none;
}

.al-request {

    display: flex;
    justify-content: center;

    &__inner {
        display: flex;
        justify-content: center;
        gap: 34px;
    }

    &__form h2 {
        margin-bottom: 29px;
    }

    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 520px;
        height: 595px;
        background-image: url(../img/menu.png);
        border-radius: 10px;

        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.al-form {
    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &__selects {
        position: relative;
    }

    &__selects::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
        display: block;
        width: 19px;
        height: 8px;
        background-image: url(../img/select_icon.png);
        pointer-events: none;
    }

    &__inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__btn {
        width: 449px;
        height: 53px;
        font-family: 'Avenir Next Cyr Bold';
        font-size: 19px;
        background-color: var(--color-red);
        color: var(--color-light);
        border-radius: 10px;
        border: none;
        margin-bottom: 29px;
        cursor: pointer;
    }

    &__btn:hover {
        background-color: var(--color-red--hover);
    }

    &__text-agree {
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0;
        margin: 0;
    }

    .al-red--block {
        color: var(--color-red);
        display: block;
        text-decoration: none;
    }

    .al-red--block:hover {
        text-decoration: underline;
    }

    .al-red--inline {
        color: var(--color-red);
    }
}

.al-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 336px;
    height: 336px;
    border-radius: 50%;
    background-color: var(--color-light);
    color: var(--color-red);
    text-decoration: none;

    &:hover {
        background-color: var(--color-light--hover);
    }

    & span:first-child {
        margin-top: 25px;
    }

    & span:not(:last-child) {
        font-family: 'Avenir Next Cyr Demi';
        font-size: 56px;
        line-height: 1;
    }

    & span:last-child {
        margin-top: 6px;
        font-size: 30.27px;
        line-height: 1.3;
        color: var(--color-black);
    }
}


@media(max-width:1199px) {

    input,
    select {
        width: calc(449 / 12 * 1vw);
        height: calc(48 / 12 * 1vw);
        padding-left: calc(20 / 12 * 1vw);
        font-size: calc(18 / 12 * 1vw);
        border-radius: calc(10 / 12 * 1vw);
    }

    .al-request {
        &__inner {
            gap: calc(34 / 12 * 1vw);
        }

        &__form h2 {
            font-size: calc(42 / 12 * 1vw);
            width: calc(506 / 12 * 1vw);
            margin-bottom: calc(29 / 12 * 1vw);
        }

        &__circle {
            width: calc(520 / 12 * 1vw);
            height: calc(595 / 12 * 1vw);
            border-radius: calc(10 / 12 * 1vw);
        }

        &__circle a {
            width: calc(336 / 12 * 1vw);
            height: calc(336 / 12 * 1vw);
        }
    }

    .al-form {
        &__selects::after {
            right: calc(80 / 12 * 1vw);
        }

        &__inputs {
            gap: calc(10 / 12 * 1vw);
        }

        &__btn {
            width: calc(449 / 12 * 1vw);
            height: calc(53 / 12 * 1vw);
            font-size: calc(19 / 12 * 1vw);
            border-radius: calc(10 / 12 * 1vw);
            margin-bottom: calc(29 / 12 * 1vw);
        }

        &__text-agree {
            font-size: calc(20 / 12 * 1vw);
        }
    }

    .al-circle {
        & span:first-child {
            margin-top: calc(25 / 12 * 1vw);
        }

        & span:not(:last-child) {
            font-size: calc(56 / 12 * 1vw);
        }

        & span:last-child {
            margin-top: calc(6 / 12 * 1vw);
            font-size: calc(30.27 / 12 * 1vw);
        }
    }
}

@media(max-width: 767px) {

    input,
    select {
        width: 100%;
        height: 48px;
        font-size: 12px;
        outline: none;
        cursor: pointer;
    }

    .al-request {
        display: flex;
        flex-direction: column;

        &__inner {
            flex-direction: column;
            gap: 30px;
        }

        &__circle {
            background-image: url(../img/menu_s.png);
            border-radius: 6px;
        }

        &__circle {
            width: 280px;
            height: 312px;
        }

        &__circle a {
            width: 195px;
            height: 195px;
        }

        &__form h2 {
            font-size: 28px;
            width: 280px;
            margin-bottom: 15px;
        }
    }

    .al-form {
        &__selects::after {
            right: 21px;
        }

        &__btn {
            width: 100%;
            height: 52px;
            font-size: 18px;
            margin-bottom: 0;
        }

        &__text-agree {
            font-size: 12px;
            margin-top: 15px;
            margin-bottom: 0px;
        }

        .al-red {
            display: inline;
        }
    }

    .al-circle {
        width: 195px;
        height: 195px;

        & span:not(:last-child) {
            font-size: 35, 98px;
        }

        & span:last-child {
            font-size: 19, 45px;
        }
    }
}