.al-wood-line {
    &__wrapper {
        background-image: url(../img/brown_wood.png);
        background-size: cover;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__inner a {
        color: var(--color-light);
        font-size: 24px;
        margin-right: 0px;
        line-height: 1.2;
    }

    &__inner h3 {
        font-size: 42px;
        line-height: 1;
        color: var(--color-light);
        font-family: 'Avenir Next Cyr Demi';
        margin: 39px 0;
    }

    &__inner a:hover {
        color: var(--wood-line--hover);
    }
}

@media(max-width:1199px) {
    .al-wood-line {
        &__inner h3 {
            font-size: calc(42 / 12 * 1vw);
            margin-top: calc(39 / 12 * 1vw);
            margin-bottom: calc(39 / 12 * 1vw);
        }

        &__inner a {
            font-size: calc(24 / 12 * 1vw);
        }
    }
}

@media(max-width:767px) {
    .al-wood-line {
        &__inner {
            flex-direction: column;
        }

        &__inner h3 {
            font-size: 28px;
            margin-top: 0;
            margin-bottom: 20px;
        }

        &__inner a {

            font-size: 16px;
        }

        &__inner {
            padding: 60px 0;
        }
    }
}